@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

:root {
  --primary: #fe0000;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
}
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.display-4 {
  color: var(--dark);
  font-weight: 1700;
  font-style: bold;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 25px;
  transition: all 0.35s ease;
  text-align: justify;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  font-size: 32px;
  border-radius: 100px;
  flex: none;
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

.service::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--primary);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}

.service:hover .iconbox {
  background-color: var(--white);
  color: var(--primary);
}

.service:hover h5,
.service:hover p {
  color: var(--white);
}

.service:hover::after {
  opacity: 1;
  top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700 !important;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.footer-top {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--dark);
}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: var(--white);
}

.footer-bottom {
  background-color: #242933;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border-radius: 2px solid var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
  border: 2px solid var(--primary);
}

.social-icons a:hover {
  color: var(--primary);
  background-color: transparent;
  border-color: var(--primarys);
}

a {
  color: var(--dark);
  text-decoration: none !important;
}

.navbar {
  box-shadow: var(--box-shadow);
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar .nav-link.active {
  color: var(--primary) !important;
}

.custom-btn {
  background-color: #fe0000 !important;
  border: #fff !important;
  border-radius: 0px !important;
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
}

.book-now {
  height: 225px;
  max-width: 215px;
}

/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-top: 125px !important;
} */

.luckytrip-sticky-top {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 555;

  /* width: "100%", position: "sticky", top: 0, zIndex: 55 */
}
